
.dashboard-wrapper {
  text-align: center;
}


.flashcard-wrapper {
  height: 400px;
  border: 1px solid black;
  border-radius: 2px;
  width: 500px;
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.search-form {
margin-top: 50%;
}

h1 {
  margin-top: 10px;
}

.search-button {
  display: block;
  margin: 10px auto;
  border: 1px solid black;
}