.header-bar {
    text-align: center;
    height: 50px;
    margin: 0;
}

.nav-bar-ul {
  display: flex;
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 0px;
  flex-direction: row-reverse;
  margin-right: 10%;
}

.user-span {
  margin-bottom: 0;
  color: #F55536;
}

.login-text {
  list-style-type: none;
  color: #141414;
  font-size: 1.1em;
  margin-left: 15px;
}

.login-text:hover {
  cursor:pointer;
 }

 .app-name-li {
   align-self: flex-end;
 }

 .btn-logout {
  align-self: flex-end;
  display: inline-block;
  font-size: 1.2em;
	text-decoration: none;
	color: white;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-left: auto;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
 }

 .current-user {
   font-weight: 300;
 }