.header-bar {
    text-align: center;
    height: 50px;
    margin: 0;
    border-bottom: 1px solid black;
}

.nav-bar-ul {
  display: flex;
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 0px;
  flex-direction: row-reverse;
  margin-right: 10%;
}

/* ul:first-child {
  margin-right: auto;
} */

.login-text {
  list-style-type: none;
  color: #141414;
  font-size: 1.1em;
  margin-left: 15px;
}

.login-text:hover {
  cursor:pointer;
 }

 .app-name-li {
   align-self: flex-end;
   /* margin-left: auto; */

 }